form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.input-labels {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: silver;
    font-weight: bolder;
}

input, textarea, button {
    border: none;
    outline: none;
    background-color: rgba(30, 36, 44, 0.4);
    color: silver;
}

input , textarea {
    width: 100%;
    height: 40px;
    font-size: large;
    padding-left: 1rem;
    box-sizing: border-box;
}

textarea {
    resize: none;
    margin-top: 0.5rem;
    height: 160px;
}

.textarea-labels {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: silver;
    font-weight: bolder;
}

input::placeholder, textarea::placeholder {
    color: silver;
    font-weight: bolder;
    font-size: medium;
}

.send-message {
    margin-top: 1rem;
    font-size: larger;
    font-weight: 600;
    line-height: 2;
    width: 30%;
    border: 1px solid silver;
    background-color: rgba(30, 36, 44, 0.4);
}

.send-message:hover {
    cursor: pointer;
    font-weight: 700;
    border: 1px solid #e31b6d;
    background-color: #e31b6d;
}

@media screen and (max-width: 768px) {
    form {
        width: 60%;
    }
}
@media screen and (max-width: 550px) {
    form {
        width: 80%
    }
}

@media screen and (max-width: 425px) {
    form {
        margin: 0 auto;
    }
    .send-message {
        font-size: smaller;
    }
}